.dashboard {
    position: absolute;
    width: 26%;
    height: 972px;
    background-color: #ffffff;
    margin-top: 21px;
    padding: 0 20px 0 0;
    z-index: 3;

    .logo {
        margin-bottom: 71px;
        margin-right: 43%;
    }


    ul {
        padding: unset;

        .active {
            border-left: 6px solid #ff5a87;
            font-size: 20px;
            letter-spacing: 1px;
        }

        li {
            cursor: pointer;
            list-style-type: none;
            padding: 32px 0 32px 32px;
            box-shadow: 0 12px 10px rgba(0, 0, 0, 0.08);
            background-color: #ffffff;
            margin-bottom: 14px;

            color: #707070;
            font-family: "Nunito Sans";
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.7px;
            text-transform: uppercase;
            text-align: left;
        }
    }
}

@media only screen and (max-width: 425px) {
    .dashboard {
        display: none;
    }
}